html {
    font-size: 100%;
    font-family: "Tw Cen MT", Arial, Helvetica, sans-serif;
    font-style: normal; /*normal, italic, oblique (obl.-similar to italic*/
    font-weight: normal; /*normal, bold*/
    text-align: justify; /*justify, left, right, center*/
    color: black;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

h1 {
    color: lightsalmon;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    top: 0;
    position: sticky;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    text-decoration: blink;
    color: darkcyan;
}

figure, img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

img {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 20px;
}

body {
    background-image: url('../media/image178.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

body > header {
    text-align: center;
    color: white;
    background-color: #333;
}

body > nav{
    background-color: #333;
    color: white;
}

body > footer{
    font-size: 0.8rem;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: lightsalmon;
}

main > article{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

main > article > *{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

main > article > h2{
    background-color: #343a40;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0;
    border: 2px solid white;

    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: linear;
}

main > article > h2:hover{
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0;

    background: lightsalmon;
    color: black;
}

body > aside{
    background-color: #333;
    color: grey;
}

@media (min-width: 700px) and (max-resolution: 1.8dppx){

    body{
        min-width: 35rem;
        max-width: 66em;
        margin-left: auto;
        margin-right: auto;



        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;

        display: -ms-grid;
        -ms-grid-columns: auto 1fr auto;
        -ms-grid-rows: auto 1fr auto;
    }

    body > header{
        grid-column-start: 1;
        grid-row-start: 1;

        -ms-grid-column: 1;
        -ms-grid-row: 1;


        grid-column-end: 4;
        -ms-grid-column-span: 3;
    }

    body > main{
        grid-column-start: 2;
        grid-row-start: 2;

        -ms-grid-column: 2;
        -ms-grid-row: 2;


        grid-row-end: 4;
        -ms-grid-row-span: 2;
    }

    body > nav{
        height: 100%;

        position: sticky;

        grid-column-start: 1;
        grid-row-start: 2;

        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }

    body > footer{
        grid-column-start: 1;
        grid-row-start: 4;
        grid-column-end: 4;

        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }

    body > aside{
        grid-column-start: 3;
        grid-row-start: 2;

        -ms-grid-column: 3;
        -ms-grid-row: 2;

        height: 100%;
    }

    .menuLink{
        display: none;
    }

}

@media not all and (min-width: 700px) and (max-resolution: 1.8dppx) {

    body{
        min-width: 16rem;
        margin:auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    li{
        flex-grow: 1; /*aby zabrali celu sirku*/
    }

    body > nav {
        list-style: none;
        flex-direction: row;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }

    body > aside {
        list-style: none;
        flex-direction: row;
        display: inline-block;
        color: palegreen;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }


    body > footer{
        order: 1; /*aby bol posledny. Ostatne maju implicitne hodnotu 0, tzn. sa zobrazia podla poradia v html*/
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333;
        top: 0;
        position: sticky;

        color: white;
    }

    .sticky {
        top: 0;
        position: sticky;
    }

    li {
        display: inline-block;
        color: white;
    }

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
    }

}

header {
    padding: 10px;
}

header, h2{
    text-align: center;
}

img:hover {

    top: 50%;
    left: 50%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


div.color {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 60%;
    height: auto;
    background: #676470;
    color: #fff;
    font-family: Lato, serif;
    font-weight: 900;
    font-size: 3.4em;
    text-align: center;

    padding: 10%;

    transition: ease 0.3s;
}

div.color:hover {
    background: peru;

    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    border-radius:50%;
    box-shadow: inset 0 0 0 25px #53a7ea;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;

}
.loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 3.5;
    animation-name: preloader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 170px 170px;
    will-change: transform;
}
circle:nth-of-type(1) {
    stroke-dasharray: 550px;
}
circle:nth-of-type(2) {
    stroke-dasharray: 500px;
}
circle:nth-of-type(3) {
    stroke-dasharray: 450px;
}
circle:nth-of-type(4) {
    stroke-dasharray: 300px;
}
circle:nth-of-type(1) {
    animation-delay: -0.15s;
}
circle:nth-of-type(2) {
    animation-delay: -0.3s;
}
circle:nth-of-type(3) {
    animation-delay: -0.45s;
}
circle:nth-of-type(4) {
    animation-delay: -0.6s;
}
@keyframes preloader {
    50% {
        transform: rotate(360deg);
    }
}
