label{
    vertical-align: top;
    display: inline-block; /*instead of inline (default)*/
    min-width: 10em;
    font-weight: bold;
}

label.long{
    min-width: 8em;
}

iframe{
    width: 90%;
    height: 250px;
}

textarea {
    resize: none;
    border-radius: 10px;
    color: black;
}

:required {
    border: 2px solid black;
}

:optional {
    border: 1px solid lightgray;
}


input:invalid, textarea:invalid{
    border-color: orangered;
    /*color: red;*/
}

:out-of-range{
    color: red;
}

input:valid{
    color: darkgreen;
    border-color: lightgreen;
}

.basicInfo,.privateInfo,.buttonInfo{
    color: mintcream;
    border: black 1px solid;
    margin: 17px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.basicInfo>input,.basicInfo>span>input{
    border-radius: 50px;
    display: inline-block;
    resize: none;
    width: 200px;
    padding: 2px 2px 2px 5px;
    overflow-x: hidden;
}

.basicInfo>input.longInput,.basicInfo>span>input.longInput{
    border-radius: 50px;
    display: inline-block;
    resize: none;
    width: 81%;
    overflow-x: hidden;
    padding: 2px 2px 2px 5px;
    opacity: 100%;
    color: black;
}

/*article#Form{*/
/*    background: url(https://images.hdqwalls.com/download/triangles-colorful-background-nz-1920x1080.jpg);*/
/*    background-size: cover;*/
/*    justify-content:center;*/
/*}*/



button.green{
    color: lightgreen;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #00bf0c;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
}


button.red{
    color: linen;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid red;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;

    float: right;
}


.opinionsContainer>section.newComment{
    color: white ;
    border: white 1px solid;
    margin: 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

#comeback {
    float: right;
    padding-right: 20px;
}

.instr {
    color: peachpuff;
    font-weight: bolder;

}

.profile{
    display: block;
    margin-bottom: 2px;
    width: auto;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 20px;
}

.profile:hover {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

a.orange{
    width: 40%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 1%;
    font-size: 20px;
    margin: 1%;
}

a.red{
    width: 40%;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);;
    border: 2px solid red;
    border-radius: 10px;
    padding: 1%;
    font-size: 20px;
    margin: 1%;
}

a.lime{
    width: 40%;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 1%;
    font-size: 20px;
    margin: 1%;
}

a.gray{
    width: 40%;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1%;
    font-size: 20px;
    margin: 1%;
}

legend {
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid orange;
}

fieldset {
    border: 2px solid orange;
    border-radius: 10px;
    padding: 2%;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}